.navbar {
  display: grid;
  z-index: 2;
  grid-template-columns: 1fr 2fr;
  background-color: rgb(31, 31, 31);
}

.nav-brand {
  display: flex;
  align-items: center;
  color: white;

  img {
    margin: 10px 10px 10px 15px;
    width: 60px;
    height: 60px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .nav-item {
    text-decoration: none;
    padding: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}