.article {
  margin: 30px;
  .article-name {
    margin-bottom: 15px;
    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 2em;
    }
  }
  .article-description {
    font-size: 0.95em;
  }
}